machine:
  network:
    hostname: "{{ .Name }}"
    interfaces:
      - deviceSelector:
            busPath: "0*"
        vip:
          ip: 192.168.4.9
        dhcp: true
    kubespan:
      enabled: true

